.cabecalho{
    background-color: brown;
}
.principal{
    background-color: blue;
}
.rodape{
    background-color: black;
    color: aliceblue;
}
#download.jpeg{
    width: 400px;
    border: 2px black;
}

